<h1>{{title}}</h1>
<input type="file" name="playlist" (change)="select($event)" multiple accept="audio/*">
<button (click)="play()">Play</button>
<div>
  <ol>
    Elements sélectionnés
    <li *ngFor="let item of playlistBrut">
      <p>{{item.name}}</p>
    </li>
  </ol>
</div>
<div>
  <ol>
    Liste de lecture
    <li *ngFor="let music of playlistDisplay; let i = index">
      <p (dblclick)="selectMusik(i)">{{music.name}}</p>
    </li>
  </ol>
</div>
<p>Actuellement écouté: </p>
<p>{{musicPlaying}}</p>
<div>
  <audio [src]="srcMusic | safeResourceUrl " autoplay controls>Your browser does not support the
    <code>audio</code> element.</audio>
</div>
<router-outlet></router-outlet>